.hanblank_80{
    width: 100%;
    height: 80px;
    display: block;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.list-bar{
    text-align: right;
    line-height: 38px;
    overflow: hidden;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(215, 213, 213);
    border-image: initial;

    margin: 0px;
    padding: 0px;
    display: block;
}

.list-bar .prdCount {
    float: left;
    color: rgb(17, 17, 17);
    margin-top: 6px;
    padding: 0px 0px 0px 8px;
}

.list-bar ul#type{
    display: inline;
}

.list-bar ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;

    margin: 0;
    padding: 0;
}

.list-bar ul li{
    display: inline-block;
    width: 7%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgb(245, 245, 245);
    border-radius: 5px;

    /*margin 조정*/
    margin: 10px 0 0 3px;
    list-style: none;
    padding: 0;
    unicode-bidi: isolate;
}

.list-bar ul#type li a{
    color: rgb(17, 17, 17);
    text-decoration: none;
}

.hanblank_70{
    width: 100%;
    height: 70px;
    display: block;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.common_list{
    position: relative;
    display: table;
    margin: 0 auto;
    width: 100%;
    padding:0;
    unicode-bidi: isolate;
}

.common_list ul.prdList{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: table;
    font-size: 0;
    line-height: 0;
    padding: 0;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}


.common_list ul.column5 li.item {
    width: 18%;
    margin-left: 1.0%;
    padding-right: 1.0%;
    margin-bottom: 3%;
    position: relative;
    display: inline-block;
    color: #757575;
    vertical-align: top;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.common_list ul.prdList li.item .box {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin: 0;
    outline: 0px solid #ddd;
    background: none;
    padding: 0;
}

.common_list .prdList li.item .thumb_wrap {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    height: auto;
    padding: 0;
}

.common_list .prdList li.item .thumb_wrap img{
    opacity:1;
    position: relative;
    transition: .5s;
    width: 100%;
    height: auto;
    display: block;
    outline: 1px solid #ddd;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
}



.common_list ul.prdList .title {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    clear: both;
    padding: 10px 0px 10px;
    margin: 0 auto 8px;
    border-bottom: 1px solid #eee;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    cursor: pointer;
    color : black;
    font-size: 13px;
}

.common_list .product-price {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
    font-weight: 100;
    padding: 0;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}


.common_list .product-price li {
    line-height: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.common_list .product-price li .origin-price{
    font-size: 12px;
    color: #9f9f9f;
    text-decoration: line-through;
    line-height: 22px;
    text-align: center;
    list-style: none;
}

.common_list .product-price li .price{
    font-size: 14px;
    color: #e10000;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    list-style: none;
}

.current{
    text-align: center;
    font-size: 15px;
}