.Header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.Header > div {
    display: flex;
    line-height: 50px;
}
.Header a, img, button{
    cursor: pointer;
}
.Header .header_line1 {
    color: #868686;
    background: #fcfcfc;
    font-size: 11px;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    height:50px
}

.Header .header_line1 > div{
    white-space: nowrap;
}

.Header .header_line1 .line1_middle{
    color: black;
    display: block;
    margin: 0;
    width: 80%;
    padding-left: 1%;
}
.Header .line1_middle a{
    padding-left: 1%;
    padding-right: 1%;
}

.Header .header_line1 .line1_right{
    /*align-content: ;*/
    /*width: 11%;*/
}

.Header .btn_check{
    color: white;
    font-weight: bold;
    font-size: 12px;
    background: #023d86;
    position: relative;
    line-height: 30px;
    overflow: hidden;
    margin-left: 3px;
    margin-top: 4px;
    border-radius: 5px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    border: none;

    &.active {
        background-color: #c59a31;
        font-weight: bold;
        font-size: 14px;
    }

}

.Header .btn_check:hover{
    font-size: 14px;
    background-color: #c59a31;
    font-weight: bold;
}

/*로그인, 회원가입, 장바구니 라인*/
.isCompleted{
    &.active {
        color: #c59a31;
        font-weight: bold;
    }
}


.Header .btn_grey{
    color: white;
    background: #aaa;
    position: relative;
    line-height: 30px;
    overflow: hidden;
    margin-left: 3px;
    margin-top: 4px;
    border-radius: 5px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    border: none;

    &.active {
        background-color: #c59a31;
        font-weight: bold;
    }
}

.Header .btn_grey:hover{
    background: #023d86;
    font-weight: bold;
}
.Header .btn_blue:hover{
    background: #023d86;
    font-weight: bold;
}

.line1_left .btn_grey{
    font-size: 12px;
}



.Header .logline{
    width: 1px;
    height: 8px;
    top: 14px;
    background: #ccc;
    display: inline-block;
}


.Header .header_line2 {
    color: #023d86;
    background: white;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 70px;
}
.Header li{
    list-style: none;
    unicode-bidi: isolate;
    width:100%;
    /*padding-right: 0.5%;*/
}

.Header .board{
    padding-right: 0.3%;
    /*overflow: visible;*/
}

.Header img{
    border: none;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin: 0;
    padding: 0;
    max-width: 149px;
}

.Header .line2_buttons{
    /*padding-right: 1%;*/
}

.Header .btn_blue{
    color: white;
    background: #5C78A7;
    font-size: 12px;
    font-weight: 500;
    font-family: "Nanum Gothic";
    width: 62px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin: 15px 0 0 4px;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    border: none;

    &.active {
        background-color: #c59a31;
        font-weight: bold;
    }
}

.Header .btn_close{
    color: white;
    background: #023d86;
    border: none;
    width:100%;
}

/*드롭다운 메뉴*/
/*원본의 <ul> catedep2 클래스*/
.Header .brand{
    display:none;
    position : absolute;
    width: 160px;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 42;
    animation: fadeInUp .6s;
}
.Header .brand li{
    cursor: pointer;
    display:list-item;
    unicode-bidi: isolate;
    list-style: none;

    color:white;
    background-color: #5C78A7;

    margin-top: 4px;
    margin-left: 4px;
    border-radius: 10px;

    position: relative;
    height: 30px;
    padding: 0px;
    font-size: 11px;
    text-indent: 10px;
    line-height: 30px;
    font-weight: 400;

    text-align: left;
    width: 150px;

}

.Header .category:hover .brand{
    display: block;
}

