@font-face {
    font-family: "Nanum Gothic";
    src: url("/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: "Nanum Gothic Bold";
    src: url("/NanumGothic-Bold.ttf");
}

body {
    /*font: 11px "Nanum Gothic";*/
    font-size: 11.5px ;
    font-family: "Nanum Gothic";
    background: #ffffff;
    letter-spacing: -.5px;
}
